<h1>Tamagotchi</h1>

Your New Tamagotchi pet:

<p>Add a new pet to take care of.</p>

<form action="/pet" method="post">
  <div class="form-group">
    <label for="petName">Enter the name of your new pet.</label>
    <input id="petName" name="petName" class="form-control" type="text">
  <br>
    <button type="submit" class="btn btn-info">Name your pet</button>
  </div>
</form>
